html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

.themefont {
   font-family: 'HortaRegular';
   font-weight: normal;
   font-style: normal;
}

.themefont2 {
   font-family: 'TranscendsGamesMedium';
   font-weight: normal;
   font-style: normal;
} 
