{% extends "main.html" %} {% block content %}
<!-- Intro -->
<div class="text-center mt-3">
  <h1 class="display-4 themefont">New Post</h1>
</div>
<!-- Main Panel -->
<div class="border border-primary rounded m-2 p-2">
  <form method="post">
    <div class="form-row">
      <div class="form-group col">
        <label for="post-title">Title:</label>
        <input class="form-control col" name="title" id="post-title" placeholder="{{currentEntry.title}}"/>
      </div>
      <div class="form-group col">
        <label>Author:</label>
        <select class="custom-select" name="author">
          <option  value="{{currentEntry.author}}" selected>Choose a character...</option>
          {% for i in allUserChars %}
          <option value="{{ i.name }}">{{ i.name}}</option>
          {% endfor %}
          <option value="{{ currentuser.username }}">
            {{ currentuser.username }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="post-entry">Entry</label>
      <textarea name="entry" class="form-control" rows="5" id="post-entry" placeholder={{currentEntry.entry}} required></textarea>
    </div>
    <input value="Post" type="submit" class="btn btn-primary" />
    <a class="btn btn-primary" href="{{ url_for('home') }}">Cancel</a>

  </form>
</div>

{% endblock %}
