{% extends "main.html" %} {% block content %}
<!-- Intro -->

<div class="text-center mt-3">
  <h1 class="display-3 themefont">The Galactic Gazette</h1>
</div>
<!-- Main Panel -->
<div class="row m-2">
  <div class="col container-fluid p-0">
    <div id="main-panel" class="border border-primary rounded p-2">
      <!-- Toolbar -->
      <div id="user-toolbar" class="row align-items-center justify-content-between">
        <div id="welcome-heading" class="col">
          <h1 class="themefont2">Welcome, {{ login_session['username'] }}...</h1>
        </div>
        <div id="tool-buttons" class="col text-right">
          <button class="btn btn-primary">Edit Profile</button>
          <a class="btn btn-primary" href="{{url_for('newPost', user_id=currentuser.id)}}">New Blog Entry</a>
          <a class="btn btn-primary" href="{{url_for('newChar', user_id=currentuser.id)}}">New Character</a>
        </div>
      </div>
      <!-- Tool Bar End -->
      <div class="d-flex flex-column-reverse container-fluid">
        {% for i in allUserPosts %}
        <div class="card m-2" style="max-width: 100%">
          <div class="card-header pb-0 bg-light">
            <div class="row">
              <div class="col text-muted text-left">
                <h5 class="">{{ i.author }}</h5>
              </div>
              <div class="col text-muted text-right">
                {{ i.date }}
              </div>
            </div>
          </div>
          <div class="card-body bg-primary rounded-bottom">
            <h4 class="card-title">
              {{ i.title }}
            </h4>
            <p class="card-text bg-light rounded p-2 mt-2">
              {{ i.entry }}
            </p>
            <div class="text-right">
              <a href="#!" class="btn btn-dark btn-sm">Edit</a>
              <a href="#!" class="btn btn-dark btn-sm">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  <!-- Side Panel -->
  <div class="col-2">
    <div class="bg-secondary rounded p-2">
      <div class="bg-secondary p-2 rounded">
        {% for i in allUserChars %}
        <a href="{{url_for('charProf', user_name=i.owner_name, char_id =i.id, char=i.name)}}">{{ i.name }}</a>
        <img class="mt-1 mb-1" src="{{ i.image_url }}" style="max-width:100%;" /> {% endfor %}
      </div>
    </div>
  </div>


</div>
<!-- Newest Recruits -->
<!-- CyberGrapeVine -->

{% endblock %}
