{% extends "main.html" %}
{% block content %}
<!-- Intro -->

<div class="jumbotron text-center">
  <h1 class="display-1 themefont">The Galactic Gazette</h1>
</div>
<!-- Latest News -->
<div class="row m-2">
  <div class="col container-fluid">
    <div class="bg-primary rounded">
      <p class="">
        Henlo, World.
      </p>
    </div>
  </div>
  <div class="col-2">
    <div class="bg-secondary rounded">
      <p class="">
        Henlo again, World.
      </p>
    </div>
  </div>


</div>
<!-- Newest Recruits -->
<!-- CyberGrapeVine -->

{% endblock %}
