{% extends "main.html" %}
{% block content %}
<!-- Intro -->

<div class="jumbotron text-center">
  <h1 class="display-1 themefont">The Galactic Gazette</h1>
</div>
<!-- Latest News -->
<div class="row m-2">
  <div class="col container-fluid">
    <div class="bg-primary rounded p-2">
      <p class="">
        The full site is under construction, but please - feel free
        to demo the barebones version of this little project. It's aiming
        to be a fictional online newspaper for the ongoings of a DnD campaign.
      </p>
      <p>
        Currently you can register, add characters, make blog posts as them, edit/update/view
        to your heart's desire...
      </p>
    </div>
  </div>
  <div class="col-2">
    <div class="bg-secondary rounded p-2">
      <p class="">
        Henlo again, World.
      </p>
    </div>
  </div>


</div>
<!-- Newest Recruits -->
<!-- CyberGrapeVine -->

{% endblock %}
