{% extends "main.html" %} {% block content %}
<!-- Intro -->
<div class="text-center mt-3">
  <h1 class="display-4 themefont">New Character</h1>
</div>
<!-- Main Panel -->
<div class="border border-primary rounded m-2 p-2">
  <form method="post" enctype="multipart/form-data">
    <div class="form">
      <div class="form-group form-inline">
        <label for="image" class="mr-2">Picture:</label>
        <input id="image" type="file" name="file" required>
      </div>
    </div>
    <input type="submit" value="Update" class="btn btn-primary" />
    <a class="btn btn-primary" href="{{ url_for('home') }}">Cancel</a>
  </form>
</div>
{% endblock %}
